* {
    background-color: white;
    font-family: Nunito Sans;
    padding: 0px;
    margin: 0px;
}

.navBar {
    width: 100%; 
    max-width: 1500px; 
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 2px rgb(216, 206, 206);
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.heroSection {
    padding-left: 20px; 
    padding-right: 20px; 
}

.searchDiv {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap; 
}

#searchBar {
    border: none;
    box-shadow: 1px 1px 4px 2px rgb(216, 206, 206);
    height: 50px;
    width: 300px; 
    padding-left: 20px;
    margin-right: 20px; 
}

#filter {
    border: none;
    box-shadow: 1px 1px 4px 2px rgb(216, 206, 206);
    height: 50px;
    width: 200px; 
    padding-left: 20px;
}

.countries {
    margin-top: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.country {
    height: 400px;
    box-shadow: 1px 1px 4px 2px rgb(216, 206, 206);
}

#images {
    width: 100%; 
    height: auto;
}

.name {
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#content {
    margin-left: 30px;
}
